/*=======================*/
/*==== RESET CSS ========*/
/*=======================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*================*/
a{
	text-decoration: none;
}



.mt-30{
	margin-top: 30px;
}
/*=======================*/
/*==== HEADER ========*/
/*=======================*/

.wrapper, .topnav{
	max-width: 1100px;
	/*width: 1100px;*/
	height: 100%;
	margin:0 auto;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1000px) {

  .topnav div:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    padding-right: 15px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 1000px) {

  .topnav.responsive {
  	position: relative;

  }
  .topnav.responsive .icon {
   	position: absolute;
    right: 0;
    top: 0;
  }
 
  .topnav.responsive .header-left
  {
  	float: none;
  	 display: block;
  	 /*position: relative;*/
  	
  }
   .topnav.responsive .header-right:not(.header-expanded-menu){
   	float: none;
  	 display: block;
  	/* position: relative;*/
   }
   .header-right .international-edition{
   	display: none;
   }
  .topnav.responsive .header-right .page-search{
	 display: block;
	
  }

  .header-right .page-search .page-search-field{
  	top:0;
	right: 0;
  	display: block;
  	width: 100%;
  	z-index: 3000;
  }
 .header-right .page-search .page-search-field-label{
 	/*color:black;*/
 	right: -15px;
 	display: block;
 	top:0;
 	z-index: 3000;
 }
  
  .header-left .page-nav ul{
  	flex-direction: column;
  	/*justify-content: flex-start;*/
  	align-items: flex-end;
  	height: 350px;
  	width: 100vw; 
  	position: absolute;
  	top:80px;
  	right: 0;
	z-index: 1000;
  	
  }
   .header-left .page-nav ul li{
   	margin-top:10px;
   	margin-bottom:5px;
   	margin-right: 15px;
   
   }
  .header-left .page-nav ul li::after{
	content: "";
}
}/*@media max-width:1000px*/



.page-header{
	height: 50px;
	width: 100%;
	
	

}
.page-header a{
 color:inherit; /*means inherit the parent color*/

}
.header-left{
	float:left;
	display: flex;
	height: 100%;
}

.header-right{
	float:right;
	display: flex;
	height: 100%;
	align-items: center;
}
.page-nav ul{
	display: flex;
	align-items: center;
	height: 100%;
	/*margin-left: 15px;*/
	margin-left: 65px;
}
.page-nav ul li{
	margin: 0 0 0 5px; /*t,r,b=0 l:5*/
	text-transform: capitalize;
}
.page-nav ul li::after{
	content: "|";
	margin-left:5px;
}


.page-logo{
	position: relative;
	width: 60px;
	
	
}
.page-logo img{
	position:absolute;
	width: 100%;
	z-index: 2000;
	
}
.search-switcher-label{
	margin: 0 15px; /*t,b:0 l,r:15*/
}
/*.page-search-field{
	width: 0;
	visibility:hidden;
}*/
.page-search{
	position: relative;
}
.page-search-field{
	width: 980px;
	position:absolute;
	right: 40px;
	top:-7px;
	font-weight: 300;
	font-size: 16px;
	padding: 5px;
	height: 30px;
	display:none;
}
.page-search-field-label{
	position: absolute;
	right: 27px;
	top:-7px;
	height: 30px;
	background: transparent;
	width: 100px;
	line-height: 30px;
	display: none;
	
}
